.btn {
    display: block;
    background-color: var(--primary);
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    width: 100vw;
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;

}